* {
    transition: .4s;
    box-sizing: border-box;
    font-family: 'arial';
  }
  
  ::selection {
    background: rgba(219, 68, 55, .3);
  }
  
  body{
    background: rgba(255, 255, 255, 0.8);
  }
  
  .formulario {
    width: 60%;
    margin: auto;
    text-align: center;
    background: #4dd7fa3f;
    padding-top: 30px;
    border-radius: 10px;
  }
  
  .formulario .titulo_formulario {
    color: #0c59cf;
    font-size: 2em;
    font-weight: bold;
    margin: 0px 0 30px 0;
    border-bottom: 1px solid #0c59cf;
    position: relative;
    padding-bottom: 20px;
    padding-right: 0px;
    text-align: center;
  }
  
  .formulario .input_textual {
    display: block;
    padding: 7px 7px;
    margin: auto;
    margin-bottom: 5px;
    width: 80%;
    border: 1px solid #91e4fb;
    border-radius: 1px;
    color: #444;
    font-size: 0.8em;
    background:#91e4fb;
  }
  .formulario .input_textual:focus {
    outline: none;
    border: none;
    border-right: 13px solid #DB4437;
    box-shadow: 1px 5px 10px #cccccc;
  }
  .formulario .input_textual:focus {
    opacity: 1;
    left: 30px;
  }
  
  .formulario .div_nacimiento {
    display: block;
    padding: 0 0 5px 0;
    margin: auto;
    margin-bottom: 7px;
    width: 50%;
    border: 1px solid #ddd;
    border-radius: 1px;
  }
  
  .formulario .div_nacimiento .span_nacimiento {
    display: block;
    text-align: left;
    padding-left: 10px;
    margin: 0 auto;
    color: #777;
    margin: 5px 0;
    font-size: 0.8em;
  }
  
  .formulario .div_nacimiento select {
    display: inline-block;
  }
  
  .formulario .div_nacimiento .dia_nacimiento {
    width: 20%;
  }
  
  .formulario .div_nacimiento .mes_nacimiento {
    width: 40%;
  }
  
  .formulario .div_nacimiento .anio_nacimiento {
    width: 30%;
  }
  
  .formulario .input_boton {
    margin-top: 25px;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 0;
    outline: none;
    width: 100%;
    position: relative;
    background: #006be5a6;
    color: #050505;
    bottom: -3px;
    left: 0px;
    font-size: 1.4em;
    cursor: pointer;
  }
  
  .formulario .input_boton:hover {
    background: #0844a4;
    color: #FFF;
  }
  
  .formulario .input_boton .fa {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
  }
  

    @keyframes aumentar {
    50%{
      transform: scale(1.3,1.3);
    }
  
    100%{
      transform: scale(1.1,1.1);
    }
  }